/* stylesheet.css */
/* Katie Anderson */
/* August 30, 2019 */

/* sets page defaults */
html {
    font-size: 62.5%;
    font-family: helvetica, arial, sans-serif;
    color: rgb(97, 97, 97);
    background: rgb(245, 245, 245);
}

.wrapper {
    width: 80em;
    margin: 2em auto;
    padding: 2em;
    background: white;
}

h1{
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: 600;
    padding-bottom: 2em;
}

/* hover grid */
.MBBS__wrap {
  position: relative;
  height: 200px;
  width: 200px;
}

.MBBS__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2em;
  background: rgba(159, 168, 218, 0.9);
  color: rgb(245, 245, 245);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.MBBS__wrap:hover .MBBS__description_layer {
  visibility: visible;
  opacity: 1;
}

.MBBS__description {
  transition: .2s;
  transform: translateY(1em);
}

.MBBS__wrap:hover .MBBS__description {
  transform: translateY(0);
}
